<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BackMapper">

    <select id="listByCondition" resultType="Back">
        select * from back
        <where>
            <if test="bookName != null and bookName != ''">
                book_name like concat('%', #{ bookName }, '%')
            </if>
            <if test="bookNo != null and bookNo != ''">
                and book_no like concat('%', #{bookNo}, '%')
            </if>
            <if test="userName != null and userName != ''">
                and user_name like concat('%', #{userName}, '%')
            </if>
        </where>
        order by id desc
    </select>


    <insert id="save">
        insert into back (book_name,book_no,user_no,user_name,user_phone,score,status,days,return_date,real_date)
        values (#{bookName},#{bookNo},#{userNo},#{userName},#{userPhone},#{score},#{status},#{days},#{returnDate},#{realDate})
    </insert>

    <delete id="deleteById">
        delete from back where id = #{id}
    </delete>

</mapper>