<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <select id="list" resultType="User">
        select * from user
    </select>

    <select id="ListByCondition" resultType="User">
        select * from user
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{ name }, '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone  like concat('%', #{ phone }, '%')
            </if>
        </where>
        order by id desc
    </select>

    <select id="getByNo" resultType="User">
        select * from user where username = #{userNo}
    </select>

    <insert id="save">
        insert into user (name,username,age,img,sex,phone,address,account)
        values (#{name},#{username},#{age},#{img},#{sex},#{phone},#{address},#{account})
    </insert>

    <select id="getById" resultType="User">
        select * from user where id = #{id}
    </select>


    <update id="edit">
        update user
        <set>
            <if test="name != null and name != ''">
            name = #{name},
            </if>
            <if test="age != null and age != ''">
                age = #{age},
            </if>
            <if test="img != null and img != ''">
                img = #{img},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime},
            </if>
            <if test="account != null and account != ''">
                account = #{account},
            </if>
            <if test="status != null">
                status = #{status}
            </if>

        </set>
        where id = #{id}
    </update>

    <update id="addAccount">
        update user
        <set>
            <if test="account != null and account != ''">
                account = #{account}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByUserNo">
        update  user set account = account + #{score}
        <set>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
         where username = #{userNo}
    </update>

    <delete id="deleteById">
        delete from user where id = #{id}
    </delete>

</mapper>